.slide-out{
    height:auto;
    width:450px;
}

.hidden-tile{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hidden-tile-title{
    display:flex;
    justify-content: space-between;
}

.show-button:hover{
    cursor: pointer;
    background-color: lightgrey;
    padding:5px;
    margin: 5px;
}

.tile-form{
    padding: 3px;
}
.form-control{
    display:flex;
    justify-content: space-between;
    margin:5px;
}

.btn.right{
    float:left;
    margin-left:4px;
}
