.slide-out{
    height:100%;
    width:450px;
    background-color: rgb(243, 240, 208);
}

.hidden-tile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.hidden-tile-title{
    display:flex;
    justify-content: space-between;
}

.show-button:hover{
    cursor: pointer;
    background-color: lightgrey;
}

.tile-form{
    padding: 3px;
}
.form-control{
    display:flex;
    justify-content: space-between;
    margin:5px;
}

.btn.right{
    float:left;
    margin-left:4px;
}
.slideout-header{
    display: flex;
    flex-direction: column;
}

.slideout-close-button{
    margin:10px;
}
.slideout-close-button:hover{
    cursor: pointer;
    color: gray;
}
